<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link href="../static/guinana.css" rel="stylesheet">
  
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=El+Messiri:wght@600&display=swap" rel="stylesheet"> 
  
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <title>Sobre Nosotros</title>
    <link rel="icon" href="../static/img/bananaslogo.png" type="image/icon type">
</head>
  
<body>
    <nav class="navbar navbar-expand-lg">
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="about">¿Quiénes somos?</a>
            </li>
          </ul>
          <a class="navbar-brand" href="#">
            <img src="../static/img/bananaslogo.png" width="150" height="150">
          </a>
          <ul class="navbar-nav mx-auto">
            </li>
            <li class="nav-item">
              <a class="nav-link" href="order">Comprar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="nutrition">Nutrición</a>
              </li>
          </ul>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="../static/img/pfpagi.png" class="img-fluid" alt="Dra Agnes Roberts">
            </div>
            <div class="col-md-6 text-center">
                <h1>
                    Dra. Agnes Roberts Kolonits
                </h1>
                <p>
                    Surgido de un amor infantil por las bananas y el chocolate, que era difícil de conseguir en Europa Central.
                </p>
                <img id="santa" src="../static/img/telapocomb.png">
                <p>
                    Un producto fácil de almacenar y transportar hecho de productos locales de montaña, miel, guineo, cacao: Biscotti de cacao nibs y guineo tipo italiano de doble horneado.
                </p>
                <p>
                    Carr. 548, Adjuntas
                </p>
                <p>
                    Tel: 787-223-7601
                </p>
                <p>
                    Correo electrónico: agnes@vivtek.com
                </p>
            </div>
        </div>
    </div>
</body>